nav.main-nav.header-top__nav-main
	ul.main-nav__list
		li.main-nav__item
			a(href="#").main-nav__link.main-nav__link--drop-down Каталог
		li.main-nav__item
			a(href="#").main-nav__link Портфолио
		li.main-nav__item
			a(href="#").main-nav__link Отзывы
		li.main-nav__item
			a(href="#").main-nav__link Блог
		li.main-nav__item
			a(href="#").main-nav__link Акции
		li.main-nav__item
			a(href="#").main-nav__link Контакты