.footer {
	display: flex;
	justify-content: space-between;
	padding: 30px 30px;
	background-color: @footerBg;
	color: @footerFontColor;
	line-height: 1.2;

	&__copyright {
		margin-right: 50px;
	}

	&__location {
		margin-right: auto;
	}

	&__social {
		color: @white;
	}
}

// .logo {
// 	&__img {
// 	}
// }
