// features
include ../mixins/_mixins.pug
section.features.heading--hr-line-double
	.container
		.features-wrapper
			+featuresItem("../img/icons/features-sample.jpg", "sample", "Выезд на замер", "Бесплатно, совсем!")
			+featuresItem("../img/icons/features-discount.jpg", "discount", "Акции и скидки", "Для наших клиентов")
			+featuresItem("../img/icons/features-prepay.jpg", "prepay", "Предоплата заказа", "Всего от 20%")
			+featuresItem("../img/icons/features-quality.jpg", "quality", "Гарантия качества", "От производителя")