// feedback
section.feedback
	.heading.feedback__heading
		.heading__title.feedback__title Контакты
			.feedback__title-phone
				span +375(33)633-22-83
				span +375(33)633-22-83
		.heading__subtitle Задайте свой вопрос или кратко опишите ситуацию.
			<br> Мы очень быстро с вами свяжемся!
	include ../blocks/form/_form