// footer
footer.footer
	ul.copyright.footer__copyright
		li.copyright__item &copy;2018 ИП конюхов С.А.
		li.copyright__item УНП 192498129 от 26 июня 2015г.
		li.copyright__item Зарегестрирован в торговом реестре №000000000000
		li.copyright__item Без выходных, с 9.00 до 20.00
		li.copyright__item +375(33)633-22-83, +375(33)633-22-83
	.location.footer__location
		i.fas.fa-map-marker-alt
		ul.location__list
			li.location__item Республика Беларусь
			li.location__item г. Минск, ул. Неманская 5
			li.location__item офис 313
			li.location__item
				a(href="#map-link").location__link как проехать?
	.social.footer__social
		a(href="#logo").logo.social__logo
			img(src="img/logo/ROOFSTROY.png" alt="logo").logo__img
		.social__title Следить за нами интересно:
		.social__item
			a(href="#onliner").social__link
				img(src="../img/icons/onliner_logo.png" alt="onliner logo").social__link-img
			a(href="#youTube").social__link
				i.fab.fa-youtube
			a(href="#inst").social__link
				i.fab.fa-instagram