// header
header.header
	.header-top
		a(href="#logo").logo.header-top__logo
			img(src="img/logo/ROOFSTROY.png" alt="logo").logo__img
		include ../blocks/navigation/_main-nav
		.order-callback.header-top__order-callback
			a(href="tel:+357296696302").order-callback__phone +357 29 669 63 02
			a(href="tel:+357336696366").order-callback__phone +357 33 669 63 66


