// special-offer
include ../mixins/_mixins.pug
.special-offer
	.heading.special-offer__heading
		.heading__title Нет времени? Закажи “монтаж под ключ”
		.heading__subtitle Вам не надо ничего делать, наш специалист сделает это за Вас
	+button("Заказать “монтаж под ключ”", "#").special-offer__button