// stock
include ../mixins/_mixins.pug
section.stock
	.heading.stock__heading
		.heading__title Акции
		.heading__subtitle Здесь представлена информация об действующих акциях
	.container
		.card-wrapper.stock__cards
			.card__item.mr-30
				.card__item-img-wrapper
					.card__title.card__title--top-red Акция
					.card__title.card__title--bottom-yellow Скидка 15%
					img(src="../img/products/metal-tile.jpg" alt="photo").card__item-img
				ul.card__color-list
					li.card__color-item.card__color-item--blue
					li.card__color-item.card__color-item--red
					li.card__color-item.card__color-item--brown
					li.card__color-item.card__color-item--black
				.card__brand-name.mb-20 Allano
				+button("Подробнее", "#").stock__button
			.card__item.ml-30.mr-30
				.card__item-img-wrapper
					.card__title.card__title--top-red Акция
					.card__title.card__title--bottom-yellow Скидка 15%
					img(src="../img/products/metal-tile.jpg" alt="photo").card__item-img
				ul.card__color-list
					li.card__color-item.card__color-item--blue
					li.card__color-item.card__color-item--red
					li.card__color-item.card__color-item--brown
					li.card__color-item.card__color-item--black
				.card__brand-name.mb-20 Allano
				+button("Подробнее", "#").stock__button
			.card__item.ml-30.mr-30
				.card__item-img-wrapper
					.card__title.card__title--top-red Акция
					.card__title.card__title--bottom-yellow Скидка 15%
					img(src="../img/products/metal-tile.jpg" alt="photo").card__item-img
				ul.card__color-list
					li.card__color-item.card__color-item--blue
					li.card__color-item.card__color-item--red
					li.card__color-item.card__color-item--brown
					li.card__color-item.card__color-item--black
				.card__brand-name.mb-20 Allano
				+button("Подробнее", "#").stock__button
			.card__item.ml-30
				.card__item-img-wrapper
					.card__title.card__title--top-red Акция
					.card__title.card__title--bottom-yellow Скидка 15%
					img(src="../img/products/metal-tile.jpg" alt="photo").card__item-img
				ul.card__color-list
					li.card__color-item.card__color-item--blue
					li.card__color-item.card__color-item--red
					li.card__color-item.card__color-item--brown
					li.card__color-item.card__color-item--black
				.card__brand-name.mb-20 Allano
				+button("Подробнее", "#").stock__button