//- Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.
mixin featuresItem(img, altText, title, subTitle)
	.features__item
		img(src= img alt= altText).features__icon
		span.features__title #{title}
		span.features__sub-title #{subTitle}
mixin ratingStar()
	.rating
		span.rating__item &#9733;
		span.rating__item &#9733;
		span.rating__item &#9733;
		span.rating__item &#9733;
		span.rating__item &#9733;
mixin descriptionLiItem(title, value)
	li.photo-description__item #{title}
		span #{value}