extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "index-page";

block content
	include ../sections/_header.pug
	include ../sections/_about-company.pug
	include ../sections/_features.pug
	include ../sections/_stock.pug
	include ../sections/_special-offer.pug
	include ../sections/_reviews.pug
	include ../sections/_portfolio.pug
	include ../sections/_footer.pug
	