extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "index-page";

block content
	include ../sections/_header.pug
	include ../sections/_footer.pug
	